/* Whole document: */
body{
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
/* Headers */
h1.title {
  font-size: 24px;
  color: DarkGreen;
}
h1 { /* Header 1 */
  font-size: 2em;
  display: DarkGreen;
}
h2 { /* Header 2 */
    font-size: 1.2em;
    display: black;
    font-weight: bold;
}

h3 { /* Header 3 */
  font-size: 18px;
  color: DarkRed;
}

code.r{ /* Code block */
    font-size: 15px;
}


blockquote {
    background: #fce4a8;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}


img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}


.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tile {
  flex: 1 0 300px;
  background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.tile:hover {
  transform: scale(1.05);
}

.tile a {
  color: steelblue;
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #5f5f5f;  /* old IE */
  background-color: steelblue;  /* Modern Browsers */
}
